.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;

  margin: $marginFromLeft * 2 $marginFromLeft $marginFromLeft * 4;
  font-family: $lato;
  max-width: 1200px;

  @include breakpoint(lg) {
    margin: $marginFromLeft * 2 auto;
  }

  &__title {
    width: 100vw;
    margin: $marginFromLeft 0;
    font-weight: 400;
    text-align: center;

    @include breakpoint(md) {
      margin: $marginFromLeft * 2 $marginFromLeft * 4;
      text-align: left;
      font-size: 40px;
    }

    @include breakpoint(lg) {
      margin: $marginFromLeft * 2 $marginFromLeft * 6;
    }
  }

  &__project {
    position: relative;
    width: 400px;
    max-height: 180px;
    margin: 15px 0;
    box-shadow: 0px 0px 6px gray;
    @include breakpoint(xs) {
     max-height: 212px;
    }

    @include breakpoint(xs) {
      margin: 5px 60px;
    }

    @include breakpoint(sm) {
      margin: 5px 120px;
    }

    @include breakpoint(md) {
      margin: 15px 0;
      flex-basis: 400px;
    }

    @include breakpoint(lg) {
      margin: 20px 80px;
    }

    &--about {
      opacity: 0;
      position: absolute;
      background-color: #fffffff1;
      z-index: 2;
      height: 100%;
      width: 100%;
      padding: 25px;
      color: rgb(0, 0, 0);
      font-weight: 500;
      transition: 0.3s;
      font-size: 16px;
      border: 1px solid rgb(168, 168, 168);
     
      &--title {
        margin-bottom: 10px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgb(172, 172, 172);
        color: gray;
        font-size: 18px;
        font-family: $lato;
        font-weight: 400;

      }
      &__boxlink {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 3px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
        &--link {
          display: flex;
          justify-content: space-around;
          align-items: flex-start;
          align-content: center;
          width: 100px;
          margin: 10px;
          border: 1px solid rgb(54, 54, 54);
          border-radius: 8px;
          padding: 10px;
          color: rgb(54, 54, 54);
          text-decoration: none;
          font-size: 18px;
          transition: 0.3s;
          cursor: pointer;

          &:hover {
            color: black;
            border-color: black;
            background-color: white;
          }
        }
      }
    }

    &:hover &--about {
      opacity: 1;
    }

    &--img {
      position: relative;
      width: 100%;
      height: 180px;
      border: 1px solid rgb(151, 151, 151);
      @include breakpoint(xs) {
        height: 212px;
       }
    }
  }
}

@keyframes opacityProject {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
