.about{
  margin: $marginFromLeft*4 $marginFromLeft;
  font-family: $lato;
  font-weight: 300;

  @include breakpoint(xs){
    margin: $marginFromLeft*4 60px;
  }

  @include breakpoint(sm){
    margin: $marginFromLeft*4 100px;
  }

  &__title{
    margin: $marginFromLeft 0;
    font-weight: 400;
    text-align: center;
  }

  &__description{
    &--text{
      font-size: $fSizeAbout;
      line-height: 1.5;
      
    }
  }
}